<p id="notice"><%= notice %></p>

<h1>Animals</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= link_to image_tag(animal.photo, style: 'height:300px;width:300px;',class: "img-circle img-responsive"), animal %></td>
        <td><%= animal.name %></td>
        <td><%= animal.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
